@using Frenet.Application.Models.ViewModel
@model IEnumerable<ShippingItemArrayVm>
@{
    int i = 0;
}

<table class="table table-bordered table-hover text-nowrap">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Categoria</th>
            <th>Altura</th>
            <th>Comprimento</th>
            <th>Quantidade</th>
            <th>Peso</th>
            <th>Largura</th>
            <th class="text-center">#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr class="text-center">
                <td colspan="8">Nenhum item adicionado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.SKU</td>
                    <td>@item.Category</td>
                    <td>@item.Height</td>
                    <td>@item.Length</td>
                    <td>@item.Quantity</td>
                    <td>@item.Weight</td>
                    <td>@item.Width</td>
                    <td class="text-center">
                        <button onclick="Quote.RemoverItemDeEnvio('@i')" type="button" class="btn btn-danger btn-sm">
                            <em class="fas fa-eraser"></em> Cancelar
                        </button>
                    </td>
                </tr>

                i++;
            }
        }
    </tbody>
</table>